<div class="buy_container">
    <form action="/buy/id" method="post" class="buy_form">
        <p>Оформить заказ</p>
        <input type="text" name="firstname" placeholder="Имя" class="first_name input">
        <input type="text" name="lastname" placeholder="Фамилия" class="last_name input">
        <input type="text" name="tel" placeholder="+7(123)123-12-12" class="tel input">
        <p>Товары в корзине:</p>
        <div class="all_product">

        </div>
        <div class="total_result"></div>
        <input type="submit" class="input buy_button" value="Заказать">
        <div class="kastil"></div>
    </form>


</div>

<script defer src="js/buy.js"></script>
