<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Магазин тортов</h1>
    <div class="user">
        <div class="number"></div>
        <img src="" alt="/image/basket.png">
    </div>
    <div class="category-btn">
        <button class="pie"></button>
        <button class="cake"></button>
    </div>
</header>
{{{body}}}
</body>
</html>
