<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header class="header">
    <p class="label">Cake-Store</p>
    <div class="user">
        <div class="number">
            {{#if num}}
                {{num}}
                {{else}}
                0
            {{/if}}
        </div>
        <a href="/buy"><img src="/image/basket.png" alt="" class="basket"></a>
    </div>
    <div class="category-btn">
        <a href="/pie">
            <div class="pie">Торты</div>
        </a>
        <a href="/cake">
            <div class="cake">Пирожные</div>
        </a>
    </div>
</header>
<div class="container">
    {{{body}}}
</div>
</body>
</html>
