*{
    margin: 0;
    padding: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
/* LAYOUT.HBS */
/* Header */

.label{
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 80px;
}

.header{
    background-color: rgba(64,224,208,0.8);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.total_cost{
    position: absolute;
    top: 30px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 60px;
    background-color: rgb(58, 193, 176);
    border-radius: 6px;
}

.deleteStorage{
    font-family: 'Sacramento', cursive;
    height: 20px;
    width: 60px;
    background-color: rgb(57, 174, 157);
    border-radius: 6px;
    position: absolute;
    top: 53px;
    color: white;
    text-align: center;
}
.deleteStorage:hover{
    background-color: rgb(53, 144, 127);
    transition: 0.3s;
}

.number{
    background-color: rgb(57, 174, 157);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: white;
    font-size: 14px;
}

.basket{
    height: 30px;
    margin-top: -2px;
}

.category-btn{
    display: flex;
    justify-content: center;
}

.user{
    position: absolute;
    right: 25px;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 60px;
}

/* Кнопки Header */
.pie{
    font-family: 'Pattaya', sans-serif;
    color: white;
    margin: 0 20px 10px 0;
    font-size: 17px;
}
.pie:hover{
    color: rgb(57, 174, 157);
    transition: 0.3s;
}

.cake{
    font-family: 'Pattaya', sans-serif;
    color: white;
    margin: 0 0 10px 20px;
    font-size: 17px;
}
.cake:hover{
    color: rgb(57, 174, 157);
    transition: 0.3s;
}

a{
    text-decoration: none;
}

/* Main */

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 1000px;
}

/* INDEX.HBS */

.product{
    width: 280px;
    height: 330px;
    background-color: rgba(64,224,208,0.4);
    border-radius: 8px;
    margin: 15px;
}

.image_div{
    width: 90px;
    margin: 10px auto;
}

.image_cake{
    height: 90px;

}

.form{
    margin-top: 15px;
}

.form_span{
    font-family: 'Cormorant Infant', serif;
    font-size: 13px;
    margin-left: 20px;
    color: rgb(41, 118, 103);
}

.form_quantity{
    width: 30px;
    font-size: 12px;
    margin: 0 0 5px 10px;
}

.form_select{
    display: block;
    font-family: 'Cormorant Infant', serif;
    margin: 3px auto;
}

.form_name{
    font-family: 'Cormorant Infant', serif;
    color: black;
    text-align: center;
}

.form_button{
    font-family: 'Cormorant Infant', serif;
    display: block;
    margin: 10px auto;
    /*color: rgb(57, 174, 157);*/
    color: black;
    width: 100px;
    height: 22px;
    /*border-radius: 8px;*/
}

/* BUY.HBS */

.buy_container{
    background-color: rgba(64,224,208,0.4);
    border-radius: 8px;
    margin: 15px;
    width: 500px;
    height: 500px;
}

